body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(85, 84, 79);
}

* {
  padding: 0;
  margin: 0;
}

.toolbar {
  background-color: #e1e8ed;
  padding: 5px 15px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 7px 29px rgba(100, 100, 111, 0.2);
}

.group {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.group + .group {
  border-left: 1px solid #fff;
}

.btn {
  border: 1px solid #ac2f2f;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.btn.active {
  border-color: #000;
}

.potmine {
  margin-bottom: 5px;
}