<div class="row1">
    <button type="button" class="btn potmine"></button>
    <button type="button" class="btn potmine"></button>
    <button type="button" class="btn potmine"></button>
</div>
<div class="row2">
    <button type="button" class="btn potmine"></button>
    <button type="button" class="btn potmine"></button>
    <button type="button" class="btn potmine"></button>
</div>
<div class="row3">
    <button type="button" class="btn potmine"></button>
    <button type="button" class="btn potmine"></button>
    <button type="button" class="btn potmine"></button>
</div>